*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html{
    background-color: black;
}

.title {
    border-bottom: 1px solid white;
    height: 50px;
    width: 100%;
    margin: auto;
}

h1{
    text-align: center;
}

.container{
    width: 100%;
    min-height: 80vh;
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.currency-table{
    width: 80%;
    height: 50vh;
}

.market-table{
    width: 100%;
    text-align: center;
}

.market-table , tr , td{
    border-bottom: 1px solid white;
    border-collapse: collapse;
}

tr{
    padding: 10px 0px;
}

.curr-symbol{
    width: 20%;
}

.curr-symbol-name{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 5px;
    width: 100%;
}

.curr-symbol-name > img{
    width: 10%;
}


.filters{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 50%;
}

.search > input{
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    background: black;
    border: 1px solid lightgray;
}

.search > input::placeholder{
    color: white;
}

.sort-by-mkt-cap, .sort-by-percentage{
    width: 20%;
}

.sort-by-mkt-cap > button, .sort-by-percentage > button{
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    background: black;
    border: 1px solid lightgray;
    cursor: pointer;
    
}

.green{
    color: #07f707;
    
}

.red{
    color: red;
}


@media screen and (min-width:320px) and (max-width:768px){
    .title{
        width: 100%;
        font-size: 15px;   
    }

    .filters {
        width: 90%;
        flex-flow: column; 
        height: 40vh;
    }

    .search{
        width: 100%;
    }
    #search{
        height: 35px;
        text-overflow: ellipsis;
    }
    .sort-by-mkt-cap > button, .sort-by-percentage > button{
        height: 35px;
        font-size: 15px;
    }

    .sort-by-mkt-cap, .sort-by-percentage {
        width: 100%;
    }

    .currency-table {
        width: 90%;
        height: 50vh;
        overflow: scroll;
    }

    .curr-symbol-name {
        height: 112px;
        justify-content: center;
        flex-flow: column;
    }

    .curr-symbol-name > img {
        width: 35%;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px)  {
    .title{
        width: 100%;
        font-size: 15px;   
    }
    .curr-symbol-name > img {
        width: 15%;
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px)  {
    .title{
        width: 100%;
        font-size: 15px;   
    }
    .curr-symbol-name > img {
        width: 18%;
    }
}